div
    - var friends = 5
    -
        var array = [
            {
                'id': 1,
                'content': 'aa'
            }, {
                'id': 2,
                'content': 'bb'
            }
        ]
    case friends
        when 0
        when 1
            p you have very few friends
        default
            p you have #{friends} friends