doctype html
html(class="no-js", lang="en")
    head
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        block title
            title Jade
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="data:image/x-icon;,", type="image/x-icon")

        block css
            link(href="css/main.css", charset="utf-8", rel="stylesheet")
    body
        p Hello Im Jade! 
        include ./templates/home.jade
        include ./templates/case.jade

        block content
            div ok
                p.container.plain-text
                    | Plain text can include <strong>html</strong>
                span okokokokokok
            foo/
        block js
            script(src="js/main.js")

